.stepWrapper {
    width: 100%;
    margin-top: 20px;
}

.stepWrapper .stepIn {
}

.stepWrapper .stepIn h2 {
    font-size: 33px;
    line-height: 41px;
    font-weight: 600;
    color: #46adf3;
}

.stepWrapper .stepIn p {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #000000;
    margin-top: 10px;
}

.stepIn .qrBlock {
    display: flex;
    min-height: 200px;
    background-color: #ffffff;
    margin-top: 20px;
    padding-top: 30px;
}

.stepIn .qrBlock .left {
    width: 50%;
    /*padding-top: 30px;*/
    display: flex;
    justify-content: center;
    text-align: center;
}

.stepIn .qrBlock .left p {
    font-size: 30px;
    line-height: 38px;
    font-weight: 600;
    color: #262a39;
    margin: 0;
    max-width: 330px;
}

.stepIn .qrBlock .right {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.stepIn .qrBlock .right .qrWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.stepIn .qrBlock .right .qrWrapper .icon {
    border-radius: 5px;
    margin-bottom: 20px;
}

.stepIn .qrBlock .right .qrWrapper .icon img {
    display: block;
}

@media (min-width: 0px) and (max-width: 767px) {
    .stepWrapper {
        margin-top: 25px;
    }

    .stepWrapper .stepIn h2 {
        font-size: 26px;
        line-height: 34px;
    }

    .stepWrapper .stepIn p {
        margin-top: 15px;
    }

    .stepIn .qrBlock {
        flex-direction: column;
        padding: 20px 15px;
    }

    .stepIn .qrBlock .left {
        width: 100%;
        padding: 0;
    }

    .stepIn .qrBlock .left p {
        font-size: 25px;
        line-height: 34px;
    }

    .stepIn .qrBlock .right {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .stepIn .qrBlock .right .qrWrapper {
        margin-top: 20px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .stepIn .qrBlock .right {
        flex-direction: row;
        justify-content: space-around;
    }
}