.bannerWrapper {
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}

.bannerWrapper .left {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}

.bannerWrapper .left .closeBtn {
    cursor: pointer;
    width: 14px;
    height: 14px;
    position: relative;
}

.bannerWrapper .left .closeBtn:before, .bannerWrapper .left .closeBtn:after {
    position: absolute;
    right: 6px;
    content: ' ';
    height: 14px;
    width: 2px;
    background-color: #8d8d8f;
}

.bannerWrapper .left .closeBtn:before {
    transform: rotate(45deg);
}

.bannerWrapper .left .closeBtn:after {
    transform: rotate(-45deg);
}

.bannerWrapper .right {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bannerWrapper .right .link {
    cursor: pointer;
    color: #5c7bd6;
}

.bannerWrapper .right .link a {
    text-decoration: none;
    color: inherit;
}

.bannerWrapper .logo {

}

.bannerWrapper .logo img {
    display: block;
    width: 50px;
    height: 50px;
}

.bannerWrapper .body {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.bannerWrapper .body span {
    font-size: 11px;
    line-height: 11px;
}

.bannerWrapper .body div:first-child span {
    font-size: 14px;
    line-height: 14px;
    color: black;
    font-weight: 500;
}

.bannerWrapper .body p {
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
}

.bannerWrapper .body .rait {
    color: #555;
}

.bannerWrapper .body .rait span {
    font-size: 16px;
    line-height: 16px;
}

.bannerWrapper .body .rait .orange {
    color: #f2970a
}

.half {
    display: inline-flex;
}

.half > div:first-child {
    overflow: hidden;
    width: 7px;
    z-index: 1;
    color: #f2970a;
}

.half > div:last-child {
    margin-left: -7px;
}