.qrPageWrapper {

}

.qrPageWrapper .qrPageIn {
    margin-top: 30px;
    width: 100%;
}

.qrPageWrapper .topBlock {

}

.qrPageWrapper .topBlock h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #57aa2b;
}

.qrPageWrapper .topBlock p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.qrPageWrapper .footerWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px 0;
}
.qrPageWrapper .footerWrapper p{
    width: 100%;
    font-size: 13px;
    line-height: 21px;
}
.qrPageWrapper .footerWrapper p span{
    font-weight: 600;
}

@media (min-width: 0px) and (max-width: 767px) {
    .qrPageWrapper .mainPageIn {
        margin-top: 25px;
    }

    .qrPageWrapper .topBlock h3 {
        font-size: 16px;
        line-height: 24px;
    }

    .qrPageWrapper .topBlock h3 {
        font-size: 16px;
        line-height: 24px;
    }


}